include README.md
include LICENSE
include requirements.txt
include Orchestr8/example_diff_script.py
include Orchestr8/example_same_script.py
recursive-include Orchestr8/Databases *
recursive-include orchestr8/Job *
recursive-include Orchestr8/Scheduler *
recursive-include Orchestr8/docs *
recursive-include Orchestr8/tests *