include README.md
include LICENSE
include requirements.txt
include Orchestr8/example_test.py
include Orchestr8/example_calculator.py
recursive-include Orchestr8/Databases *
recursive-include orchestr8/Job *
recursive-include Orchestr8/Scheduler *
recursive-include Orchestr8/docs *
recursive-include Orchestr8/tests *